html {}

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.bg {
	position: relative;
	height: 2000px;

	z-index: 0;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1000px;
		background-color: darkorchid;
	}
}

#svgContainer {
	max-width: 100vw;
	max-height: 100vh;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 3;
}

.controllers {
	position: fixed;
	top: 5px;
	left: 10px;
	z-index: 100;
}